In [1]:
import market_models.src.models.predict_model as pmx
import market_models.src.models.train_model as tm
from market_models.src.utils import *
import market_models.src.data.make_processed_data as mpd
import sys
#sys.path.append(os.path.abspath(os.path.join(os.path.dirname(__file__), '..')))
from utils import *

In [4]:
get_all_models_trained_on('netrisk_casco_v29', ModelType.PRESENCE_MODEL)

['netrisk_casco_v29_GROUPAMA_price_presence_model',
 'netrisk_casco_v29_ALFA_price_presence_model',
 'netrisk_casco_v29_SIGNAL_price_presence_model']

'_error_model'

In [ ]:
sys.path.append(os.path.abspath(os.path.join(os.path.dirname(__file__), '..')))

In [42]:
target_variable = 'GROUPAMA_price'
target_present = f'{target_variable}_present'
data, features = load_data(get_processed_data_path('netrisk_casco_v29'), get_features_path('netrisk_casco_v29'), apply_feature_dtypes=False, target_variable = target_variable, drop_target_na=False)

load features  ['isRecent', 'CarMake', 'CarModel', 'CarAge', 'ccm', 'kw', 'kg', 'car_value', 'PostalCode', 'PostalCode2', 'PostalCode3', 'Category', 'Longitude', 'Latitude', 'Age', 'LicenseAge', 'BonusMalus', 'ALFA_price_Age_cut', 'ALLIANZ_price_Age_cut', 'GENERALI_price_Age_cut', 'GROUPAMA_price_Age_cut', 'K&AMP;H_price_Age_cut', 'KÖBE_price_Age_cut', 'MAGYAR_price_Age_cut', 'SIGNAL_price_Age_cut', 'UNIQA_price_Age_cut']

In [43]:
data[target_present] = (~data[target_variable].isna())

In [44]:
data[(data['kw'] > 300)]

,DateCrawled,isRecent,CarMake,CarModel,CarAge,ccm,kw,kg,car_value,PostalCode,...,PostalCode3,Category,Longitude,Latitude,Age,LicenseAge,BonusMalus,GROUPAMA_price_Age_cut,GROUPAMA_price,GROUPAMA_price_present
15,2024_01_02,True,MASERATI,GranTurismo,8,4244,302,1955,103368.733,1011,...,101,1,19.0404,47.4984,35,18,B10,"(30, 35]",NaN,False
27,2024_01_02,True,BMW,X3,2,2993,353,2085,77274.600,1011,...,101,1,19.0404,47.4984,35,18,B10,"(30, 35]",NaN,False
33,2024_01_02,True,MERCEDES-BENZ,AMG GT,2,3982,390,1665,102427.910,1011,...,101,1,19.0404,47.4984,35,18,B10,"(30, 35]",NaN,False
58,2024_01_02,True,BMW,X5,2,4395,441,2385,85797.400,1011,...,101,1,19.0404,47.4984,35,18,B10,"(30, 35]",NaN,False
95,2024_01_02,True,MERCEDES-BENZ,S-osztály,2,5980,450,2350,249750.800,1011,...,101,1,19.0404,47.4984,35,18,B10,"(30, 35]",NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16436,2024_06_06,True,FORD,Mustang,2,5038,331,1751,58500.000,9776,...,977,12,16.8050,47.0918,45,18,B10,"(40, 45]",NaN,False
16450,2024_06_06,True,BMW,X4,3,2993,375,1970,85260.240,8300,...,830,12,17.4249,46.8491,49,18,B9,"(45, 50]",NaN,False
16466,2024_06_06,True,AUDI,Q7,3,3996,373,2340,101635.430,2655,...,265,12,19.3164,47.9349,25,18,B2,"(17, 25]",NaN,False
16470,2024_06_06,True,FORD,Mustang,2,5038,338,1801,72280.000,8988,...,898,14,16.5509,46.7670,61,18,B10,"(60, 65]",NaN,False
16502,2024_06_06,True,FORD,Mustang,2,5038,331,1818,49660.000,6120,...,612,13,19.7400,46.4903,54,18,B9,"(50, 55]",NaN,False

In [45]:
data[(data['kw'] < 300)]

,DateCrawled,isRecent,CarMake,CarModel,CarAge,ccm,kw,kg,car_value,PostalCode,...,PostalCode3,Category,Longitude,Latitude,Age,LicenseAge,BonusMalus,GROUPAMA_price_Age_cut,GROUPAMA_price,GROUPAMA_price_present
0,2024_01_02,True,JEEP,Wrangler,7,3604,209,1828,38922.0,1011,...,101,1,19.0404,47.4984,35,18,B10,"(30, 35]",NaN,False
1,2024_01_02,True,KIA,Picanto,2,998,49,899,15337.4,1011,...,101,1,19.0404,47.4984,35,18,B10,"(30, 35]",94584.0,True
2,2024_01_02,True,TOYOTA,Corolla,1,1197,85,1390,25532.0,5200,...,520,13,20.4167,47.1833,35,18,B10,"(30, 35]",165900.0,True
3,2024_01_02,True,JAGUAR,XE,2,1997,184,1611,44005.0,1011,...,101,1,19.0404,47.4984,35,18,B10,"(30, 35]",381000.0,True
4,2024_01_02,True,BMW,2-es sorozat,2,1499,90,1545,30498.0,1011,...,101,1,19.0404,47.4984,35,18,B10,"(30, 35]",236808.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16528,2024_06_06,True,RENAULT,Clio,9,1149,54,1055,8424.0,8134,...,813,14,18.3478,46.9222,36,18,B10,"(35, 40]",55932.0,True
16529,2024_06_06,True,FORD,Kuga,3,1499,110,1565,35711.0,6762,...,676,13,20.0989,46.3609,30,18,B10,"(25, 30]",156300.0,True
16530,2024_06_06,True,HONDA,Civic,9,1798,104,1266,16715.4,1144,...,114,1,19.0404,47.4984,54,18,B10,"(50, 55]",150960.0,True
16531,2024_06_06,True,HYUNDAI,Tucson,9,1591,130,1449,19757.4,2890,...,289,10,18.3184,47.6529,44,18,B8,"(40, 45]",307812.0,True
16532,2024_06_06,True,KIA,Sportage,2,1591,97,1415,20667.4,1156,...,115,1,19.0404,47.4984,39,18,B7,"(35, 40]",237300.0,True

In [46]:
len(data)

16533

True

In [72]:
import pandas as pd

In [76]:
pd.read_csv(get_profiles_for_crawling_transposed('netrisk_casco_sampled_data_v2_2024_06_24'))

,Unnamed: 0,Age,isRecent,LicenseAge,PostalCode,BonusMalus,BonusMalusCode,kw,CarMake,CarAge,...,kg,car_value,postal_code,Latitude,Longitude,Category,PostalCode2,PostalCode3,CarMakerCategory,PolicyStartDate
0,0,45,True,18,8475,B07,4,103,BMW,5,...,1430,26566.0200,8475,47.0877,17.2407,7.0,84,847,1,NaN
1,1,45,True,18,8475,B07,4,103,BMW,5,...,1430,26566.0200,8475,47.0768,17.2801,7.0,84,847,1,NaN
2,2,45,True,18,8475,B07,4,103,BMW,5,...,1430,26566.0200,8475,47.0895,17.2657,7.0,84,847,1,NaN
3,3,81,True,18,4031,B06,5,51,OPEL,5,...,1045,10686.0000,4031,47.5333,21.6333,5.0,40,403,1,NaN
4,4,45,True,18,1138,B10,1,103,RENAULT,3,...,1528,21317.4000,1138,47.4984,19.0404,1.0,11,113,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,58,True,18,6000,B05,6,130,HYUNDAI,6,...,1401,17157.4000,6000,46.9062,19.6913,6.0,60,600,1,NaN
996,996,30,True,18,7957,B02,9,74,KIA,0,...,1120,16637.4000,7957,45.9259,17.8751,5.0,79,795,1,NaN
997,997,53,True,18,2314,B03,8,272,KIA,7,...,1834,45994.0000,2314,47.3617,18.9812,2.0,23,231,1,NaN
998,998,56,True,18,2030,M02,13,110,SEAT,4,...,1610,37222.3852,2030,47.3949,18.9136,2.0,20,203,1,NaN
999,999,42,True,18,9700,B10,1,74,HYUNDAI,6,...,1194,14817.4000,9700,47.2309,16.6216,5.0,97,970,1,NaN

In [49]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
data[]

In [64]:
data_c = data[data[target_present] | ((~data[target_present]) & (data['kw'] > 200))]
model = LogisticRegression(solver='liblinear', random_state=0)
model.fit(data_c['kw'].values.reshape(-1, 1), data_c[target_present])

LogisticRegression(random_state=0, solver='liblinear')

In [69]:
data_c

,DateCrawled,isRecent,CarMake,CarModel,CarAge,ccm,kw,kg,car_value,PostalCode,...,PostalCode3,Category,Longitude,Latitude,Age,LicenseAge,BonusMalus,GROUPAMA_price_Age_cut,GROUPAMA_price,GROUPAMA_price_present
0,2024_01_02,True,JEEP,Wrangler,7,3604,209,1828,38922.0,1011,...,101,1,19.0404,47.4984,35,18,B10,"(30, 35]",NaN,False
1,2024_01_02,True,KIA,Picanto,2,998,49,899,15337.4,1011,...,101,1,19.0404,47.4984,35,18,B10,"(30, 35]",94584.0,True
2,2024_01_02,True,TOYOTA,Corolla,1,1197,85,1390,25532.0,5200,...,520,13,20.4167,47.1833,35,18,B10,"(30, 35]",165900.0,True
3,2024_01_02,True,JAGUAR,XE,2,1997,184,1611,44005.0,1011,...,101,1,19.0404,47.4984,35,18,B10,"(30, 35]",381000.0,True
4,2024_01_02,True,BMW,2-es sorozat,2,1499,90,1545,30498.0,1011,...,101,1,19.0404,47.4984,35,18,B10,"(30, 35]",236808.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16528,2024_06_06,True,RENAULT,Clio,9,1149,54,1055,8424.0,8134,...,813,14,18.3478,46.9222,36,18,B10,"(35, 40]",55932.0,True
16529,2024_06_06,True,FORD,Kuga,3,1499,110,1565,35711.0,6762,...,676,13,20.0989,46.3609,30,18,B10,"(25, 30]",156300.0,True
16530,2024_06_06,True,HONDA,Civic,9,1798,104,1266,16715.4,1144,...,114,1,19.0404,47.4984,54,18,B10,"(50, 55]",150960.0,True
16531,2024_06_06,True,HYUNDAI,Tucson,9,1591,130,1449,19757.4,2890,...,289,10,18.3184,47.6529,44,18,B8,"(40, 45]",307812.0,True
16532,2024_06_06,True,KIA,Sportage,2,1591,97,1415,20667.4,1156,...,115,1,19.0404,47.4984,39,18,B7,"(35, 40]",237300.0,True

In [59]:
len(data[data['kw']> 200]), len(data[~data[target_present]])

(356, 1214)

In [57]:
data[target_variable]

0             NaN
1         94584.0
2        165900.0
3        381000.0
4        236808.0
           ...
16528     55932.0
16529    156300.0
16530    150960.0
16531    307812.0
16532    237300.0
Name: GROUPAMA_price, Length: 16533, dtype: float64

In [61]:
data_c = data[data[target_present] | (~data[target_present] & data['kw'] > 200)]

In [60]:
data[(data['kw'] < 200) & (~data[target_present] ) ]

,DateCrawled,isRecent,CarMake,CarModel,CarAge,ccm,kw,kg,car_value,PostalCode,...,PostalCode3,Category,Longitude,Latitude,Age,LicenseAge,BonusMalus,GROUPAMA_price_Age_cut,GROUPAMA_price,GROUPAMA_price_present
236,2024_01_02,True,CITROEN,C5 Aircross,2,1199,96,1404,25220.00,1011,...,101,1,19.0404,47.4984,35,18,B10,"(30, 35]",NaN,False
314,2024_01_02,True,UAZ,Hunter,2,2693,99,1845,15403.83,1011,...,101,1,19.0404,47.4984,35,18,B10,"(30, 35]",NaN,False
317,2024_01_02,True,LEXUS,RC,6,1998,180,1680,37700.00,1011,...,101,1,19.0404,47.4984,35,18,B10,"(30, 35]",NaN,False
347,2024_01_02,True,TOYOTA,Supra,2,1998,190,1395,66131.00,1011,...,101,1,19.0404,47.4984,35,18,B10,"(30, 35]",NaN,False
539,2024_01_02,True,FORD,Mustang,4,2261,199,1724,35958.00,1011,...,101,1,19.0404,47.4984,35,18,B10,"(30, 35]",NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15800,2024_06_03,True,RENAULT,Mégane,2,999,84,1197,19237.40,4244,...,424,12,21.6833,47.8000,49,18,B9,"(45, 50]",NaN,False
15934,2024_06_03,True,HYUNDAI,i10,4,998,49,999,12477.40,1056,...,105,3,19.0404,47.4984,73,18,B10,"(70, 79]",NaN,False
16354,2024_06_06,True,OPEL,Mokka,3,1199,96,1275,27716.00,7600,...,760,5,18.2268,46.0945,48,18,B10,"(45, 50]",NaN,False
16375,2024_06_06,True,RENAULT,Talisman,8,1618,110,1430,23657.40,2517,...,251,9,18.8018,47.7127,46,18,B3,"(45, 50]",NaN,False
16509,2024_06_06,True,CITROEN,C3,5,1199,60,1055,10322.00,4032,...,403,7,21.6333,47.5333,69,18,B4,"(65, 70]",NaN,False