In [3]:
import os
import sys
import importlib

sys.path.append(os.path.dirname(os.path.dirname(os.path.abspath(''))))
from utilities.path_utils import *
import pandas as pd

In [23]:
data1 = pd.read_csv(get_raw_data_path('netrisk_casco_2024_02_09', '.csv'))
data2 = pd.read_csv(get_raw_data_path('netrisk_casco_2024_01_33', '.csv'))
data3 = pd.read_csv(get_raw_data_path('netrisk_casco_2024_01_34', '.csv'))

In [26]:
data1

,id_case,DateCrawled,isRecent,CarMake,CarModel,CarAge,ccm,kw,kg,car_value,...,GENERALI_price,GENERTEL_price,GROUPAMA_price,K&AMP;H_price,KÖBE_price,MAGYAR_price,SIGNAL_price,UNION_price,UNIQA_price,WÁBERER_price
0,1135,2024_02_09,False,TOYOTA,Corolla,1,1197,85,1390,25532.0,...,299714.0,NaN,NaN,371602.0,90036.0,100000.0,156193.0,190987.0,212210.0,NaN
1,1136,2024_02_09,False,TOYOTA,Corolla,1,1197,85,1390,25532.0,...,258700.0,NaN,172596.0,306177.0,90036.0,100000.0,156193.0,190987.0,174069.0,NaN
2,1137,2024_02_09,False,TOYOTA,Corolla,1,1197,85,1390,25532.0,...,299714.0,NaN,186192.0,283552.0,82716.0,100000.0,156193.0,190987.0,174069.0,NaN
3,1138,2024_02_09,False,TOYOTA,Corolla,1,1197,85,1390,25532.0,...,283939.0,NaN,172596.0,322156.0,88206.0,100000.0,156193.0,202221.0,132000.0,NaN
4,1139,2024_02_09,False,TOYOTA,Corolla,1,1197,85,1390,25532.0,...,299714.0,NaN,172596.0,274321.0,90036.0,100000.0,156193.0,202221.0,132000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,3801,2024_02_09,False,TOYOTA,Corolla,1,1197,85,1390,25532.0,...,283939.0,NaN,179292.0,239577.0,69906.0,100000.0,218670.0,190987.0,162103.0,NaN
2667,3802,2024_02_09,False,TOYOTA,Corolla,1,1197,85,1390,25532.0,...,299714.0,NaN,179292.0,322156.0,88206.0,100000.0,156193.0,202221.0,148828.0,NaN
2668,3803,2024_02_09,False,TOYOTA,Corolla,1,1197,85,1390,25532.0,...,299714.0,NaN,NaN,283552.0,82716.0,100000.0,156193.0,190987.0,186970.0,NaN
2669,3804,2024_02_09,False,TOYOTA,Corolla,1,1197,85,1390,25532.0,...,283939.0,NaN,172596.0,306177.0,90036.0,100000.0,156193.0,190987.0,267927.0,NaN
2670,3805,2024_02_09,False,TOYOTA,Corolla,1,1197,85,1390,25532.0,...,347037.0,NaN,192876.0,303559.0,110532.0,109156.0,156193.0,190987.0,212210.0,NaN

In [24]:
sorted(data2[data2['ALLIANZ_price'].isna()].PostalCode.tolist())

[2643, 4335, 5130, 5661, 5830, 6066, 7017, 7173, 8043]

In [25]:
sorted(data1[data1['ALLIANZ_price'].isna()].PostalCode.tolist())

[1056,
 1061,
 1222,
 2090,
 2164,
 2241,
 2532,
 2644,
 2660,
 2911,
 3042,
 3125,
 3240,
 3294,
 3377,
 3596,
 3776,
 3932,
 4354,
 5231,
 5536,
 6600,
 6635,
 7047,
 7165,
 7256,
 7500,
 7512,
 7526,
 7556,
 7772,
 7813,
 7826,
 8123,
 8751,
 8855,
 8878,
 9024,
 9111,
 9223,
 9234,
 9423,
 9664,
 9751,
 9773,
 9900,
 9922]

In [21]:
sorted(data3[data3['ALLIANZ_price'].isna()].PostalCode.tolist())

[]

In [22]:
data3

,id_case,DateCrawled,isRecent,CarMake,CarModel,CarAge,ccm,kw,kg,car_value,...,GENERALI_price,GENERTEL_price,GROUPAMA_price,K&AMP;H_price,KÖBE_price,MAGYAR_price,SIGNAL_price,UNION_price,UNIQA_price,WÁBERER_price
0,839,2024_01_34,False,FIAT,Panda,3,875,63,1165,14664.0,...,118507.0,NaN,76992.0,199538.0,88206.0,NaN,97974.0,65073.0,110979.0,NaN
1,840,2024_01_34,False,FIAT,Panda,3,875,63,1165,14664.0,...,118507.0,NaN,71232.0,202823.0,82716.0,NaN,97974.0,65073.0,139421.0,NaN
2,841,2024_01_34,False,FIAT,Panda,3,875,63,1165,14664.0,...,106033.0,NaN,79944.0,194236.0,79056.0,NaN,97974.0,65073.0,129801.0,NaN
3,842,2024_01_34,False,FIAT,Panda,3,875,63,1165,14664.0,...,97301.0,NaN,71232.0,168621.0,82716.0,NaN,97974.0,61458.0,110979.0,NaN
4,843,2024_01_34,False,FIAT,Panda,3,875,63,1165,14664.0,...,106033.0,NaN,71232.0,182967.0,82716.0,NaN,97974.0,65073.0,169675.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,1130,2024_01_34,False,FIAT,Panda,3,875,63,1165,14664.0,...,118507.0,NaN,79944.0,219498.0,82716.0,NaN,97974.0,61458.0,129801.0,NaN
292,1131,2024_01_34,False,FIAT,Panda,3,875,63,1165,14664.0,...,118507.0,NaN,71232.0,182967.0,82716.0,NaN,97974.0,65073.0,98431.0,NaN
293,1132,2024_01_34,False,FIAT,Panda,3,875,63,1165,14664.0,...,118507.0,NaN,82824.0,175627.0,82716.0,NaN,97974.0,61458.0,169675.0,NaN
294,1133,2024_01_34,False,FIAT,Panda,3,875,63,1165,14664.0,...,106033.0,NaN,71232.0,189641.0,82716.0,NaN,97974.0,61458.0,120878.0,NaN
295,1134,2024_01_34,False,FIAT,Panda,3,875,63,1165,14664.0,...,143456.0,NaN,91620.0,207917.0,129564.0,NaN,161658.0,72304.0,169675.0,NaN